 <!--List Remainder Type Start -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog"  [ngStyle]="{'display':display}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog">
            <div class="modal-header popup1">
             
                    <p class="delete_text">Are you sure you want to delete</p>
            </div>
            
            <div class="modal-footer popup2">
                <button type="button" class="btn btn-default close_btn" (click)=" hidePopup()">Close</button>
                <button type="button" class="btn btn-default ok_btn" (click)="onCloseHandled(Id)" >Ok</button>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal! -->

<div class="backdrop" [ngStyle]="{'display':display2}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog"  [ngStyle]="{'display':display2}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog">
            <div class="modal-header popup1">
                <p class="delete_text">{{breedcategory.message}}</p>
            </div>
            
            <div class="modal-footer popup2">
                <button type="button" class="btn btn-default conform_delete" (click)="hidePopup1()" >Ok1</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal! -->
<div class="card p-3">
        <div class="image-loader" *ngIf="imageLoader" style="top:14%">
                <img src="assets/img/loading.gif" />
            </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table_header mb-3">
                <!-- <h2 class="table_title">List Reminder Type</h2>
                <hr> -->
                <div class="row">
                        <div class="col-md-6">
                            <h2 class="table_title">List Reminder Type</h2>
                        </div>
                   
                     <div class="col-md-6">
                         <button type="button"  [routerLink]="['/remaindertype/add-reminder1']" (click) = "onSubmit()" class="btn btn-default add_btn "><i class="fas fa-plus plus_icon"></i>Add</button>
                     </div>    
                   </div>
                     <hr>
                <div class="row">
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        
                    </div> 
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="t_header_right">
                           
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                           <tr>
                                <th>Reminder Id</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                    <style>
                                            .input_search{
                                                background:url('assets/img/search icon.png') #fff no-repeat;
                                                background-position: 0% center;
                                                padding-left: 24px;
                                            }
                                    </style>
                            <th><input type="text" class="form-control input_search rem_place_holder1" name="reminder_id" [(ngModel)]="filterArg.reminder_id"  placeholder="Search.."></th>
                            <th><input type="text" class="form-control input_search rem_place_holder2" name="name" [(ngModel)]="filterArg.name" placeholder="Search.."></th>
                            <th></th>
                            <th></th>
                            </tr>
                    </thead>
                    <tr *ngFor="let remainders of remainder.list | listRemainderFilter:filterArg | paginate: {itemsPerPage: 5, currentPage:page, id: '1'}; let i = index ">
                            <td class="align-middle">{{remainders?.reminder_id}}</td>
                            <td class="align-middle">{{remainders?.name}}</td>
                            <td class="align-middle"><span *ngIf="remainders.status==101; else elseBlock">Active</span>
                                <ng-template #elseBlock>Inactive </ng-template></td>
                            <td class="align-middle">
                                <a [routerLink] = "['/remaindertype/list-remainder-type/',  remainders.reminder_id]"><i class="fas fa-pencil-alt" height="15px" hspace="9"></i></a>
                                <a  (click) = "deleteremainder(remainders.reminder_id)"><i class="far fa-trash-alt deleticon" ></i></a>
                            </td>
                            
                    </tr>
                 </table>
                  <!--Add Pagination -->
                 <pagination-controls class="pagination_list_remainder" (pageChange)="page = $event" id="1"
                 maxSize="5"
                 directionLinks="true"
                 autoHide="true">
                </pagination-controls>
            </div>
        </div>
    </div>
  </div>

   <!--List Remainder Type End -->