<!--Add Breed Category Start -->
<div class="backdrop" [ngStyle]="{'display':display2}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog"  [ngStyle]="{'display':display2}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog">
            <div class="modal-header popup1">
            <p class="delete_text">{{addb.message}}</p>
            </div>
            <!-- <div class="modal-body">
        
            </div> -->
            <div class="modal-footer popup2">
                <button type="button" class="btn btn-default conform_delete" [routerLink] = "['/breed/list-breed-category']" (click)="hidePopup()" >Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal! -->

<div class="card p-3 relative">
        <div class="image-loader" *ngIf="imageLoader" style="top:14%">
                <img src="assets/img/loading.gif" />
            </div>
        
    <p *ngIf="isValidFormSubmitted && userForm.pristine" [ngClass] = "'success'">
    
    </p>
    <h5 class="title_add_breeds">Add Breed Category</h5>
    <form class="container" [formGroup] = "userForm" (ngSubmit)="onSubmit(userForm)">
    <div class="row form-group">
        <div class="col-sm-6">
            <label class="site_label" for="inputdefault">Name<span style="color:red">*</span></label>
            <input class="form-control site_input"  type="text" placeholder="Name" [ngModel]="addbreedcategory.name" formControlName="name">
            <div *ngIf="name.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
               Name Is Required. 
             </div>
        </div>
        <div class="col-sm-6">
             <label class="site_label" for="inputdefault">Status</label>
             <div class="check_box add_check">
                <mat-checkbox class="site_label"  [(ngModel)]="isChecked" formControlName="status"  >Active</mat-checkbox>
            </div>
        </div>
     </div> 
     <button type="button"  (click) = "onSubmit(userForm)" class="btn btn-default site_btn ">Save</button>
     <button type="button"  (click) = "onSubmit(userForm)" [routerLink] = "['/breed/list-breed-category']" class="btn btn-danger cancel_site_btn ">Cancel</button>
</form>
</div>

<!--Add Breed Category End -->