td{
    width: 46px;
}
ng-template{
    height: 10px;
}
.status{
   color: #607d8b;
}
.text_size{
    font-size: 22px;
}
.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #607d8b !important;
} 
/* .image_user_detail{
    width: 153px;
    height: 14%;
} */
.nav_heading{

    color:#607d8b;
    text-align: right;
   
}
.widget-user-profile .profile-user-avatar img {
    border-radius: 100px;
    border: 2px solid #fff;
    height: 100px !important;
    width: 100px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.widget-user-profile .profile-user-name {
   margin-top: 0.5rem;
}




/*-------preetyfy------------------------*/
.prettyprint {
    white-space: pre-wrap;
    background: #F5F6F7;
    font-family: Monaco,"Lucida Console",monospace;
    color: #5C707A;
    width: auto;
    overflow: auto;
    position: relative;
    padding: 0;
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 24px;
    border-radius: 4px;
    padding: 16px 32px
  }
  
  .prettyprint.linenums,.prettyprint[class^="linenums:"],.prettyprint[class*=" linenums:"] {
    padding: 0
  }
  
  .prettyprint.is-showcase {
    border: 4px solid #0273D4
  }
  
  .prettyprint code {
    background: none;
    font-size: 13px;
    padding: 0
  }
  
  .prettyprint ol {
    background: #F5F6F7;
    padding: 16px 32px 16px 56px;
    margin: 0;
    overflow: auto;
    font-size: 13px
  }
  
  .prettyprint ol li,.prettyprint .tag {
    color: #7a8b94;
    background: none;
    margin-bottom: 5px;
    line-height: normal;
    list-style-type: decimal;
    font-size: 12px
  }
  
  .prettyprint ol li:last-child {
    margin-bottom: 0
  }
  
  .prettyprint ol li code {
    background: none;
    font-size: 13px
  }
  
  .prettyprint .pnk,.prettyprint .blk {
    border-radius: 4px;
    padding: 2px 4px
  }
  
  .prettyprint .pnk {
    background: #CFD8DC;
    color: #5C707A
  }
  
  .prettyprint .blk {
    background: #E0E0E0
  }
  
  .prettyprint .otl {
    outline: 1px solid rgba(169,169,169,0.56)
  }
  
  .prettyprint .kwd {
    color: #D43669
  }
  
  .prettyprint .typ,.prettyprint .tag {
    color: #D43669
  }
  
  .prettyprint .str,.prettyprint .atv {
    color: #647f11
  }
  
  .prettyprint .atn {
    /*color: #647f11*/
    color: #31708f
  }
  
  .prettyprint .com {
    color: #647f11
  }
  
  .prettyprint .lit {
    color: #647f11
  }
  
  .prettyprint .pun {
    color: #7a8b94
  }
  
  .prettyprint .pln {
    color: #5C707A
    /*color: #8a6d3b*/
  }
  
  .prettyprint .dec {
    color: #647f11
  }
  
  @media print {
    .prettyprint {
      background: #F5F6F7;
      border: none;
      box-shadow: none
    }
  
    .prettyprint ol {
      background: #F5F6F7
    }
  
    .prettyprint .kwd {
      color: #D43669
    }
  
    .prettyprint .typ,.prettyprint .tag {
      color: #D43669
    }
  
    .prettyprint .str,.prettyprint .atv {
      color: #647f11
    }
  
    .prettyprint .atn {
      /*color: #647f11*/
      color: #31708f
    }
  
    .prettyprint .com {
      color: #647f11
    }
  
    .prettyprint .lit {
      color: #647f11
    }
  
    .prettyprint .pun {
      color: #7a8b94
    }
  
    .prettyprint .pln {
      color: #5C707A
    }
  
    .prettyprint .dec {
      color: #647f11
    }
  }
  
  h1 .prettyprint,h2 .prettyprint,h3 .prettyprint,h4 .prettyprint {
    background: none;
    font-family: Monaco,"Lucida Console",monospace;
    color: #253238;
    overflow: hidden;
    position: relative;
    font-size: 15px;
    font-weight: 600;
    line-height: 24px;
    margin: 0;
    border: none;
    box-shadow: none;
    padding: 0
  }
  
  h1 .prettyprint code,h2 .prettyprint code,h3 .prettyprint code,h4 .prettyprint code {
    background: none;
    font-size: 15px;
    padding: 0
  }
  
  h1 .prettyprint .kwd,h2 .prettyprint .kwd,h3 .prettyprint .kwd,h4 .prettyprint .kwd {
    color: #253238
  }
  
  h1 .prettyprint .typ,h1 .prettyprint .tag,h2 .prettyprint .typ,h2 .prettyprint .tag,h3 .prettyprint .typ,h3 .prettyprint .tag,h4 .prettyprint .typ,h4 .prettyprint .tag {
    color: #B52E31
  }
  
  h1 .prettyprint .str,h1 .prettyprint .atv,h2 .prettyprint .str,h2 .prettyprint .atv,h3 .prettyprint .str,h3 .prettyprint .atv,h4 .prettyprint .str,h4 .prettyprint .atv {
    color: #9d8d00
  }
  
  h1 .prettyprint .atn,h2 .prettyprint .atn,h3 .prettyprint .atn,h4 .prettyprint .atn {
    color: #71a436
  }
  
  h1 .prettyprint .com,h2 .prettyprint .com,h3 .prettyprint .com,h4 .prettyprint .com {
    color: #AFBEC5
  }
  
  h1 .prettyprint .lit,h2 .prettyprint .lit,h3 .prettyprint .lit,h4 .prettyprint .lit {
    color: #9d8d00
  }
  
  h1 .prettyprint .pun,h2 .prettyprint .pun,h3 .prettyprint .pun,h4 .prettyprint .pun {
    color: #000
  }
  
  h1 .prettyprint .pln,h2 .prettyprint .pln,h3 .prettyprint .pln,h4 .prettyprint .pln {
    color: #000
  }
  
  h1 .prettyprint .dec,h2 .prettyprint .dec,h3 .prettyprint .dec,h4 .prettyprint .dec {
    color: #8762c6
  }



  .mat-tab-body-content {
     overflow: hidden !important;
}
.mat_tab{
  min-height: 0px !important;
  
}

/*-------Graph Data------------------------*/


.header1{
  /* text-align: right; */
  padding-top: 20px;
}
.head1{
  /* padding-right: 1em; */
  margin: 0;
}
.paragraph{
  /* text-align: right; */
  /* width: 33%;
  float: right;
  text-align: justify; */
}
.circle1{
  padding-top: 20px;
}
.head2{
  padding-top: 5px;
}
/* .line{
  float: right;
  width: 31%;
} */
.para{
  float: left;
  width: 58%;
  border-top: 1px solid #ddd;
  padding-top: 9px;
}
.circle{
  border-radius: 100%;
  background: #fff;
  width: 185px;
  float: none;
  /* padding-left: 1%; */
  margin: 0 auto;
  min-height: 160px;
  border: 10px solid #ddd;
  min-height: 180px;
  box-shadow: 0px 0px 38px #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.small_circle{
  border-radius: 100%;
  width: 124px;
  min-height: 125px;
  border: 1px;
  margin: 0 auto;
  float: initial;
  margin-top: 17px;
  box-shadow: 0px 0px 67px #ddd;
}
.small_circle1{
  border-radius: 100%;
  width: 124px;
  min-height: 125px;
  border: 1px;
  margin: 0 auto;
  float: initial;
  margin-top: 17px;
  box-shadow: 0px 0px 67px #ddd;
}
.active{
  padding-top: 10px;
}
.rest{
  padding-top: 10px;
}
.miles{
  padding-top: 10px;
}
.circle span {
  font-size: 35px;
}
.icons{
  text-align: center;
  width: 124px;
}
/* .grid {
  margin-bottom: 0 !important;
}
.graph{
  margin-bottom: 0 !important;
  height: 184px;
} */
.pet_det{
  padding: 20px 0;
}
.inner{
  /* height: 104px; */
}
.title_data{
  line-height: 2em;
    text-align: center;
    font-size: 22px;
    color: #607d8b;
}
.header_title{
    text-align: center;
    padding-top: 10px;
    color: #607d8b;
}
.temp_title{
  padding-left: 9px;
    color: #607d8b;
    font-size: 20px;
}
.name_data{
  text-align: center;
font-size: 22px;
color: #607d8b;
float: right;
width: 50%;
text-align: right;
display: inline-flex;
}
.image_current_Weight{
  width: 50%;
  height: 120px;
 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img_data{
  float: left;
  width: 40%;
  display: inline-flex;
}
.card_size{
  display: table; 
  width: 100%;
}
.image_recommeneded_food{
  width: 50%;
  height: 120px;
 
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.image_current_body{
  width: 50%;
  height: 120px;
 
  display: block;
  margin-left: auto;
  margin-right: auto;
}