<!--All Foods Start -->
<div class="card p-3">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table_header mb-3">
                    <h2 class="table_title">All Foods</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <div class="t_header_left">
                                <label>Show</label>
                                <select>
                                    <option value="1">1</option>
                                    <option value="2">1</option>
                                    <option value="3">1</option>
                                    <option value="4">1</option>
                                    <option value="5">1</option>
                                    <option value="6">1</option>
                                </select>
                            </div> 
                        </div> 
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="t_header_right">
                                <label>Search</label>
                                <input type="text" class="form-control" placeholder="Search..">
                            </div> 
                        </div> 
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            
                                <th>Productid</th>
                                <th>CompanyName</th>
                                <th>ProductName</th>
                                <th>Breed Categories</th>
                                <th>Is Adult</th>
                                <th>Threshold</th>
                                <th>Action</th>
                                <th>Delete</th>
                                <th>Status</th>
                                
                        </thead>
                        <tr>
                                <td>62</td>
                                <td>AATU</td>
                                <td>AATU 80/20 Chicken</td>
                                <td>small</td>
                                <td>Yes</td>
                                <td>14</td>
                                <td>Update</td>
                                <td>Delete</td>
                                <td></td>
                                
                      
                        </tr>
                        <tr>
                                <td>62</td>
                                <td>AATU</td>
                                <td>AATU 80/20 Chicken</td>
                                <td>small</td>
                                <td>Yes</td>
                                <td>14</td>
                                <td>Update</td>
                                <td>Delete</td>
                                <td></td>
                               
                      
                        </tr>
                        <tr>
                                <td>62</td>
                                <td>AATU</td>
                                <td>AATU 80/20 Chicken</td>
                                <td>small</td>
                                <td>Yes</td>
                                <td>14</td>
                                <td>Update</td>
                                <td>Delete</td>
                                <td></td>
                               
                      
                        </tr>
                        <tr>
                                <td>62</td>
                                <td>AATU</td>
                                <td>AATU 80/20 Chicken</td>
                                <td>small</td>
                                <td>Yes</td>
                                <td>14</td>
                                <td>Update</td>
                                <td>Delete</td>
                                <td></td>
                               
                      
                        </tr>
                    </table>
                </div>
            </div>
        </div>
      </div>
    
      <!-- All Foods End -->