<!--Add Breeds Start -->
<div class="backdrop" [ngStyle]="{'display':display2}"></div>
<div class="modal" id="test" tabindex="-1" aria-hidden="true" role="dialog"  [ngStyle]="{'display':display2}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog">
            <div class="modal-header popup1">
               <p class="delete_text">{{_Array.message}}</p>
            </div>
            <div class="modal-body">
               </div>
            <div class="modal-footer popup2">
                <button type="button"   [routerLink] = "['/breed/view-breeds']" class="btn btn-default conform_delete" (click)="hidePopup()" >Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal! -->
<div class="backdrop1" [ngStyle]="{'display':display3}"></div>
<div class="modal1" id="test" tabindex="-1" aria-hidden="true" role="dialog"  [ngStyle]="{'display':display3}">
    <div class="modal-dialog  modal-dialog-centered modal-sm">
        <div class="modal-content dialog">
            <div class="modal-header popup1">
                    <p class="delete_text" >Only image file is accepted </p>
            </div>
              <div class="modal-footer popup2">
                <button type="button" class="btn btn-default conform_delete" (click)="hidePopup1()" >Ok</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal! -->
<div class="card p-3 relative">
        <div class="image-loader" *ngIf="imageLoader" style="top:14%">
                <img src="assets/img/loading.gif" />
            </div>
        
    <p *ngIf="isValidFormSubmitted && userForm.pristine" [ngClass] = "'success'">
       
    </p>
    <h5 class="title_add_breeds">Add Breed</h5>
    <form class="container" [formGroup] = "userForm" (ngSubmit)="onSubmit(userForm)">
    <div class="row form-group">
        <div class="col-sm-6">
            <label class="site_label" for="inputdefault">Breed Name<span style="color:red">*</span></label>
            <input class="form-control site_input"  type="text" placeholder="Breed Name"  formControlName="breed_name">
            <div *ngIf="breed_name.errors?.required && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Breed Name Is Required. 
             </div>
            
    </div>
    <div class="col-sm-6">
     <label class="site_label" for="inputdefault">Breed Categories<span style="color:red">*</span></label>
        <select name="addbreed" class="form-control select_add_breeds site_input" id="select"  formControlName="breed_category_id">
            <option *ngFor="let user of breedcategory.list" [value]="user.breed_category_id">
                    {{user.breed_name}}
            </option>
        </select>
        <div *ngIf="breed_category_id.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
            Breed Category Is Required. 
        </div>
    </div>
</div>
    
   
     <div class="row form-group">
        <div class="col-sm-6">
            <label class="site_label" for="inputdefault">Origin<span style="color:red">*</span></label>
            <input class="form-control site_input "  type="text" placeholder="Origin" formControlName="origin" >
            <div *ngIf="origin.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Origin Is Required.
            </div>
        </div>
        <div class="col-sm-6">
             <label class="site_label" for="inputdefault">Life Span In Years<span style="color:red">*</span></label>
             <input class="form-control site_input number_type"  type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Life Span" formControlName="life_span" >
             <div *ngIf="life_span.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Life Span Is Required. 
            </div>
            </div>
    </div>
      
    <div class="row form-group">
    <div class="col-sm-6">
        <label class="site_label" for="inputdefault">Weight Male In Kg<span style="color:red">*</span></label>
        <input class="form-control site_input"  type="number" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" min="0" placeholder="Weight Male" formControlName="weight_male" >
        <div *ngIf="weight_male.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
            Weight Male Is Required.
        </div>
    </div>
    <div class="col-sm-6">
         <label class="site_label" for="inputdefault">Weight Female In Kg<span style="color:red">*</span></label>
         <input class="form-control site_input"  type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Weight Female" formControlName="weight_female"  >
         <div *ngIf="weight_female.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
            Weight Female Is Required.
        </div>
        </div>
 </div>
    
 <div class="row form-group">
        <div class="col-sm-6">
            <label class="site_label" for="inputdefault">Height Male In Cm<span style="color:red">*</span></label>
            <input class="form-control site_input"  type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Height Male" formControlName="height_male" >
            <div *ngIf="height_male.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Height Male Is Required. 
            </div>
        </div>
        <div class="col-sm-6">
             <label class="site_label" for="inputdefault">Height Female In Cm<span style="color:red">*</span></label>
             <input class="form-control site_input"  type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Height Female" formControlName="height_female" >
             <div *ngIf="height_female.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Height Female Is Required. 
            </div>
            </div>
 </div>
         
     <div class="row form-group">
        <div class="col-sm-6">
            <label class="site_label" for="inputdefault">Stride Length In Cm<span style="color:red">*</span></label>
            <input class="form-control site_input"  type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Stride Length" formControlName="stride_length" >
            <div *ngIf="stride_length.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Stride Length Is Required.
            </div>
        </div>
        <div class="col-sm-6">
             <label class="site_label" for="inputdefault">Move Per Mile<span style="color:red">*</span></label>
             <input class="form-control site_input"  type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Move Per Mile" formControlName="move_per_mile" >
             <div *ngIf="move_per_mile.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Move Per Mile Is Required. 
            </div>
            </div>
     </div>
         
     <div class="row form-group">
        <div class="col-sm-6">
            <label class="site_label" for="inputdefault">Active Minute<span style="color:red">*</span></label>
            <input class="form-control site_input"  type="number" min="0" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="Active Minute" formControlName="active_minute">
            <div *ngIf="active_minute.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Active Minute Is Required.
            </div>    
        </div>
        <div class="col-sm-6">
             <label class="site_label" for="inputdefault">Temperament<span style="color:red">*</span></label>
             <input class="form-control site_input"  type="text" placeholder="Temperament" formControlName="temperament" >
             <div *ngIf="temperament.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Temperament Is Required.
 
            </div>
            </div>
    </div>
    
     <div class="row form-group">
        <div class="col-sm-6">
            <label class="site_label" for="inputdefault">Manual Activity Target<span style="color:red">*</span></label>
            <input class="form-control site_input"  type="text" placeholder="Manual Activity Target" formControlName="manual_activity" >
            <div *ngIf="manual_activity.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Manual Activity Is Required. 
            </div>
        </div>
        <div class="col-sm-6">
             <label class="site_label" for="inputdefault">Target<span style="color:red">*</span></label>
            <input class="form-control site_input"  type="text" placeholder="Target" formControlName="target">
            <div *ngIf="target.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                Target Is Required. 
            </div>
        </div>
     </div>
    
     <div class="row form-group">
        <div class="col-sm-6" >
             <label class="site_label" for="inputdefault">Image<span style="color:red">*</span></label>
              <input type="file" name="file" accept=".jpg,.jpeg,.png" id="fUpload"  class="upload_file form-control site_input" id="filePicker" (change)="changeListener($event)" formControlName="image_path">  
              <img *ngIf="image!=''" class="upload_add_breeds" [src]= "image">
                      <div *ngIf="image_path.invalid && isValidFormSubmitted != null && !isValidFormSubmitted" [ngClass] = "'error'"> 
                        Image Is Required. 
                    </div>
        </div>
     </div>
     
    <button type="button" (click) = "onSubmit(userForm)" class="btn btn-default site_btn ">Save</button>
    <!-- [routerLink] = "['./../view-breeds/']" -->
</form>

</div>

<!--Add Breeds End -->
